@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #1f1e26;
}
* {
  font-family: "Poppins", sans-serif;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

::-webkit-scrollbar {
  display: none;
}

.shadow-massive {
  --tw-shadow: 0px 64px 64px rgba(0, 0, 0, 0.15),
    0px 32px 32px rgba(0, 0, 0, 0.15), 0px 16px 16px rgba(0, 0, 0, 0.15),
    0px 8px 8px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.15);
  --tw-shadow-colored: 0px 64px 64px var(--tw-shadow-color),
    0px 32px 32px var(--tw-shadow-color), 0px 16px 16px var(--tw-shadow-color),
    0px 8px 8px var(--tw-shadow-color), 0px 4px 4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-massive-2 {
  --tw-shadow: 0px 64px 64px #00000017, 0px 10px 10px #00000011,
    0px 16px 16px #0000001a, 0px 8px 8px #00000014, 0px 4px 4px #00000026;
  --tw-shadow-colored: 0px 64px 64px var(--tw-shadow-color),
    0px 32px 32px var(--tw-shadow-color), 0px 16px 16px var(--tw-shadow-color),
    0px 8px 8px var(--tw-shadow-color), 0px 4px 4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.-shadow-massive-2 {
  box-shadow: 0px -25px 30px 10px rgba(28, 27, 34, 0);
}

#ew0VXTbFc284_to {
  animation: ew0VXTbFc284_to__to 3000ms linear 1 normal forwards;
}

@keyframes ew0VXTbFc284_to__to {
  0% {
    offset-distance: 0%;
    animation-timing-function: cubic-bezier(0.99, 0, 0, 1);
  }

  100% {
    offset-distance: 100%;
  }
}

#ew0VXTbFc285_to {
  animation: ew0VXTbFc285_to__to 3000ms linear 1 normal forwards;
}

@keyframes ew0VXTbFc285_to__to {
  0% {
    offset-distance: 0%;
    animation-timing-function: cubic-bezier(0.995, 0.01, 0, 1.025);
  }

  100% {
    offset-distance: 100%;
  }
}

#ew0VXTbFc287_to {
  animation: ew0VXTbFc287_to__to 3000ms linear 1 normal forwards;
}

@keyframes ew0VXTbFc287_to__to {
  0% {
    offset-distance: 0%;
    animation-timing-function: cubic-bezier(0.995, 0.01, 0, 1.025);
  }

  100% {
    offset-distance: 100%;
  }
}

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hamRotate.active {
  transform: rotate(45deg);
}

.hamRotate180.active {
  transform: rotate(180deg);
}

.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #ffffffc1;
  stroke-width: 5.5;
  stroke-linecap: round;
}

.ham1 .top {
  stroke-dasharray: 40 139;
}

.ham1 .bottom {
  stroke-dasharray: 40 180;
}

.ham1.active .top {
  stroke-dashoffset: -98px;
}

.ham1.active .bottom {
  stroke-dashoffset: -138px;
}

.spinner {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #6366f1 95%, #0000) 50% 1.4px/17.3px
      17.3px no-repeat,
    radial-gradient(farthest-side, #0000 calc(100% - 20.2px), #6365f11b 0);
  animation: spinner-aur408 0.6s infinite cubic-bezier(0.67, 0.03, 0.28, 0.93);
}

@keyframes spinner-aur408 {
  to {
    transform: rotate(1turn);
  }
}

td {
  padding: 7px !important;
}

.arrowUp {
  rotate: 180deg;
  transition: all 0.2s;
}

.seedPlace::after {
  content: attr(data-index);
  position: absolute;
  background: #6366f1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3pc;
  border-radius: 10pc;
  font-size: 0.8rem;
  top: -0.9pc;
  left: -1pc;
  height: 1.3pc;
  width: 1.3pc;
}

textarea::placeholder {
  opacity: 50%;
  color: #9490a7cc;
}

input::placeholder {
  opacity: 50%;
  color: #9490a7cc;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
